* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: "Open Sans", sans-serif;
}
.welcome p {
  font-size: x-small;
  font-weight: 600;
  margin: 3rem 9rem 3rem 5rem;
  text-align: center;
  padding: 5px 10px;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 3px 1.5px lightgray;
}
.content {
  margin: 0.5rem 2rem;
}
.heading span {
  padding-bottom: 5px;
  border-bottom: 2px solid #ea4335;
}
.heading p {
  font-size: xx-small;
  margin-top: 1.5rem;
  color: gray;
}
.icons {
  display: flex;
  margin-top: 0.7rem;
}

.facebook i {
  padding: 10px 13px;
  color: white;
  background-color: #3b5898;
  box-shadow: 0px 0px 3px 1.5px lightgrey;
  border-radius: 5px;
  font-size: 1.2rem;
}
.facebook i:hover {
  box-shadow: none;
}
.icons .vl {
  border-left: 1px solid lightgray;
  margin-left: 1.5rem;
}

.google i {
  padding: 10px;
  box-shadow: 0px 0px 3px 1.5px lightgray;
  border-radius: 5px;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}
.google i:hover {
  box-shadow: none;
}
.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.continue p {
  width: 100%;
  text-align: center;
  border-bottom: 0.1px solid lightgrey;
  line-height: 0.1em;
  margin: 25px 0;
}
.continue p span {
  background: #fff;
  font-size: 10px;
  padding: 0 10px;
  color: grey;
}

.email,
.password {
  border-bottom: 1px solid lightgrey;
  vertical-align: middle;
  margin: 0.5rem 0;
}
.email i,
.password i {
  font-size: 12px;
  color: grey;
}
.email input,
.password input {
  border-style: none;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 8px;
  outline: none;
  letter-spacing: 1px;
}
.bottom p {
  font-size: 10px;
  color: grey;
  font-weight: 500;
  margin-top: -6px;
  margin-left: 66%;
}
.bottom button {
  background-color: #202c5e;
  width: 100%;
  padding: 8px 5px;
  border-radius: 5px;
  border-style: none;
  color: white;
  margin-top: 1.5rem;
  box-shadow: 0px 0px 3px 1px grey;
  outline: none;
  letter-spacing: 1px;
}
.bottom button:hover {
  box-shadow: none;
}
.bottom h5 {
  font-size: 10px;
  text-align: center;
  margin-top: 1rem;
}
.bottom span {
  color: #ea4335;
  font-weight: 800;
}
